<table class="modern-table" id="complaints-table">
    <thead>
        <tr>
            <th>
                <div class="th-content">
                    <i class="fa-solid fa-hashtag"></i>
                    <span>ID</span>
                </div>
            </th>
            <th>
                <div class="th-content">
                    <i class="fa-solid fa-user"></i>
                    <span>First Name</span>
                </div>
            </th>
            <th>
                <div class="th-content">
                    <i class="fa-solid fa-user"></i>
                    <span>Middle Name</span>
                </div>
            </th>
            <th>
                <div class="th-content">
                    <i class="fa-solid fa-user"></i>
                    <span>Last Name</span>
                </div>
            </th>
            <th>
                <div class="th-content">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Address</span>
                </div>
            </th>
            <th>
                <div class="th-content">
                    <i class="fa-solid fa-phone"></i>
                    <span>Contact</span>
                </div>
            </th>
            <th>
                <div class="th-content">
                    <i class="fa-solid fa-cog"></i>
                    <span>Actions</span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(person, index) in filteredPersons" :key="person.id">
            <td data-label="ID">
                <span class="id-badge">[[ index + 1 ]]</span>
            </td>
            <td data-label="First Name">
                <div class="cell-content">
                    <i class="fa-solid fa-user-circle person-icon"></i>
                    <span>[[ person.first_name ]]</span>
                </div>
            </td>
            <td data-label="Middle Name">
                <div class="cell-content">
                    [[ person.middle_name || 'N/A' ]]
                </div>
            </td>
            <td data-label="Last Name">
                <div class="cell-content font-weight-bold">
                    [[ person.last_name ]]
                </div>
            </td>
            <td data-label="Address">
                <div class="cell-content address-text">
                    <i class="fa-solid fa-map-marker-alt"></i>
                    <span>[[ person.address ]]</span>
                </div>
            </td>
            <td data-label="Contact">
                <div class="cell-content contact-text">
                    <i class="fa-solid fa-mobile-alt"></i>
                    <span>[[ person.contact_number ]]</span>
                </div>
            </td>
            <td data-label="Actions">
                <div class="action-buttons">
                    <button class="action-btn btn-select" @click="selectPerson(person)">
                        <i class="fa-solid fa-check"></i>
                        <span>Select</span>
                    </button>
                    <button v-if="showEditDelete" class="action-btn btn-edit" @click="editPerson(person)" data-bs-toggle="modal" data-bs-target="#edit-person-modal" title="Edit">
                        <i class="fa-solid fa-edit"></i>
                    </button>
                    <button v-if="showEditDelete" class="action-btn btn-delete" @click="deletePerson(person)" title="Delete">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
